{{#each items}}
  <div class="artist-div">
    <img class="artist-img" src="{{images.0.url}}" alt="images" />
    <div class="artist-anchor">
      <p>{{name}}</p>
      <a href="/albums/{{id}}">View albums</a>
    </div>
  </div>
{{/each}}