<div class="container">
<form class="form" action="/artist-search" method="GET">
  <div id="label-id">
    <label for="artist"></label>
    <input id="input-id" type="text"  id="artist" name="artist">
  </div>
  <button id="btn-home" type="submit">Search for an Artist</button>
</form>
</div>